* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "jaldi";
  src: url("./assets/fonts/jaldi.ttf");
}

@font-face {
  font-family: "mulish";
  src: url("./assets/fonts/mulish.ttf");
}

:root {
  --light: #c2c2c2;
  --medium: #b0b28f;
  --dark: #161915;
  --title-font: "jaldi";
  --text-font: "mulish";
  --color1-: #a6ab9c;
  --color2-: #636f66;
  --color3-: #2e2e2e;
  --color4-: #bb3636;
}
