header {
  background-color: #b8f7c0;
}

.heroPic {
  position: relative;
  width: 150%;
  height: 450px;
  overflow: hidden;
}

.heroPic img {
  width: 150%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.textContainer {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
